[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=utilities-system-monitor
Name=Resource Monitor
Comment=Displays CPU, RAM and swap usage
